version: 2
jobs:
  build:
    docker:
      - image: theasp/clojurescript-nodejs:alpine

    working_directory: ~/repo

    environment:
      LEIN_ROOT: "true"
      JVM_OPTS: -Xmx3200m

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "project.clj" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: lein deps

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "project.clj" }}

      - run:
          name: test
          command: lein test-all

      #- run:
      #    name: code-coverage
      #    command: |
      #      CLOVERAGE_VERSION=1.0.9 lein cloverage --codecov
      #      bash <(wget -q -O - https://codecov.io/bash) -f target/coverage/codecov.json
